<p-toolbar>
  <div class="">
    <div class="ui-toolbar-group-left">
      <div class="p-grid">
        <div class="p-col-fixed" style="width: 48px;">
          <button pButton type="button" [label]="null" icon="pi pi-bars" (click)="display = true" class="ui-button-info"></button>
        </div>

        <div class="p-col">
          <h1 class="app-name" style="margin: 0;">VG: Document Processing Demo</h1>
        </div>
      </div>
    </div>
    
    <div class="ui-toolbar-group-right">
    </div>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="display" autoZIndex="false" baseZIndex="0">
  <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 0px)'}" styleClass="custom">
    <app-function-list (onCloseSidebar)="display = false" (notify)="onNotify()"></app-function-list>
  </p-scrollPanel>
</p-sidebar>

<div layout-margin basic-container class="wrapper">
  <router-outlet></router-outlet>
</div>
