<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">VG: Document Processing Demo</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          I'm a drawer
          <h2>Angular Router</h2>
          <nav>
            <a routerLink="/" routerLinkActive="active">Home</a>
            |
            <a routerLink="/api/1" routerLinkActive="active">API 1</a>

          </nav>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <div>
          <h1>
            Welcome to {{ title }}!
          </h1>
          <app-function-list [product]="product" (notify)="onNotify()"></app-function-list>

          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>