<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <button (click)="share()">
    Share
  </button> -->

  <!-- <h2>Angular Router</h2>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav> -->

  <!-- <app-function-list
  [product]="product" 
  (notify)="onNotify()"></app-function-list> -->

  <router-outlet></router-outlet>
</div>
