/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~swagger-ui/dist/swagger-ui.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";

html,
body {
  margin: 0;
  padding: 0;
}
p-toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

@media screen and (min-width: 700px) {
  p-toolbar {
    // position: relative;
  }
}
