<div class="ui-g">
  <div class="ui-g-12 ui-md-10 ui-md-offset-1">
    <div class="hero-background"></div>
    <h2>Demonstration</h2>

    <markdown>
This is page to index several demonstration about document processing. There are:
<br>
- [Key Phrases Extraction](/kp/) _using_ **CoreNLP**
- [Part Of Speech](/pos/) _using_ **NLTK** + **Jieba**
- [Topic Modeling - Similarity](/gensim/) _using_ **Gensim**
    </markdown>
  </div>

  <!-- <p-card class="ui-g-12 ui-md-10 ui-md-offset-1">
    Card 1
  </p-card>
  <p-card class="ui-g-12 ui-md-6 ui-md-offset-1">
    <ngx-md>
      ### your markdown code

      ui-g-12 ui-md-6 ui-lg-4
    </ngx-md>
  </p-card>
  <p-card class="ui-g-12 ui-md-4 ">
    <ngx-md>
      ### your markdown code

      ui-g-12 ui-lg-4
    </ngx-md>
  </p-card> -->

</div>
